<div class="container-fluid">
  <hr />
  <h1>Basic Usage : $scope</h1>
  <p class="username">Welcome, {{ user.details.username }}</p>
  <p class="id">User ID: {{ user.details.id }}</p>
  <hr />
  <h1>Service & Factory</h1>
  <p><input type="text" ng-model="user.x" /> <strong>multiply</strong> <input type="text" ng-model="user.y" /> = {{ Math.multiply(user.x, user.y) }}</p>
  <p><input type="text" ng-model="user.x" /> <strong>plus</strong> <input type="text" ng-model="user.y" /> = {{ Math.plus(user.x, user.y) }}</p>
  <p><input type="text" ng-model="user.x" /> <strong>minus</strong> <input type="text" ng-model="user.y" /> = {{ Math.minus(user.x, user.y) }}</p>
  <hr />
  <h1>Filter</h1>
  <p><input type="text" ng-model="user.text" />  {{ user.text | reverse }}</p>
  <hr />
  <h1>$http</h1>
  <input type="button" value="Get Location" ng-click="getLocation()" />  <input type="button" value="Clear Location" ng-click="clearLocation()" />
  <ul>
    <li ng-repeat="location in locations">
      <p><a href="" ng-click="deleteLocation($index)">Delete</a> - <b>Name:</b> {{ location.locationName }} , <b>Address:</b> {{ location.address1 }}</p>
    </li>
  </ul>
  <hr />
  <h1>Toggle</h1>
  <div class="row">
    <div class="col-md-6">
      <a href="" ng-click="toggle = !toggle">Toggle nav</a>
      <ul ng-show="toggle">
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
      </ul>
    </div>
    <div class="col-md-6">
      <a href="" ng-click="toggle = !toggle">Toggle nav Inverse</a>
      <ul ng-show="!toggle">
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
      </ul>
    </div>
  </div>
  <hr />
  <h1>Expression</h1>
  <div class="row">
    <p>Test 1: {{ test1.length > 0 && test1 || 'No data' }}</p>
    <p>Test 2: {{ test2.length > 0 && test2 || 'No data' }}</p>
  </div>
  <hr />
  <h1>Directive</h1>
  <a custom-button>Click me</a>
</div>